#ifndef SECRETS_H
#define SECRETS_H

// Pas dit aan naar jouw WiFi gegevens
const char* WIFI_SSID = "WifiID";
const char* WIFI_PASSWORD = "Wachtwoord";

// Het IP-adres van je Raspberry Pi (waar Mosquitto op draait)
// Gebruik het IP dat je ziet als je 'hostname -I' typt op je Pi
const char* MQTT_SERVER = "IP MQTT_SERVER"; 
#endif